@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html, body {
  width: 90vw;
  margin: 0px;
  background: #f7f7f7;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  padding: 1em;
  padding-bottom: 2em;
}

main {
  width: 70%;
  margin: auto;
  color: #313030;
}

a {
  color: #606ab5;
}

.center {
  width: 100%;
  display: flex;
}

img {
  width: 60%;
  margin: auto;
  max-width: 100%;
}

@media only screen and (max-width: 600px) {
  main {
    width: 100%;
  }
  img {
    width: 100%;
  }
}
